html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  font-family: 'Rampart One';
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: normal;
  color: black;
  background-color: rgba(52, 55, 56, 0.459)
}
h1 {
  font-size: 3rem;
}
.container {
  margin: 0 auto;
  max-width: 80%;
}